<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>atras</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-label position="floating"> Nombres </ion-label>
    <ion-input [(ngModel)]="datosRegistro.nombre" placeholder="Ingrese su nombre" ></ion-input>
  </ion-list>
  <ion-list>
    <ion-label position="floating"> Apellidos </ion-label>
    <ion-input [(ngModel)]="datosRegistro.apellidos" placeholder="Ingrese su apellido" ></ion-input>
  </ion-list>
  <ion-list>
    <ion-label position="floating"> Correo </ion-label>
    <ion-input [(ngModel)]="datosRegistro.correo" placeholder="Ingrese su correo" ></ion-input>
  </ion-list>
  <ion-list>
    <ion-label position="floating"> usuario </ion-label>
    <ion-input [(ngModel)]="datosRegistro.usuario"></ion-input>
  </ion-list>
  <ion-list>
    <ion-label position="floating"> Contraseña </ion-label>
    <ion-input [(ngModel)]="datosRegistro.password" type="password"></ion-input>
  </ion-list>

  <ion-button expand="full" class="register_btn" (click)="registro()"
    >guardar</ion-button
  >
  <ion-button expand="full" class="login-button" (click)="gotToLogin()"
    >cancelar</ion-button
  >
</ion-content>
