.colorencabezado {
  --background: rgb(9, 9, 215);
  --color: white;
}

.colorcontenido {
  --background: rgb(46, 48, 49);
  --color: black;
}

.img-login {
  max-width: 100px;
  margin: 30px auto 30px auto;
}
