<ion-header [translucent]="true">
  <ion-toolbar class="colorencabezado">
    <ion-title>home33</ion-title>

    <ion-buttons slot="start">
      <ion-back-button>atras</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="colorcontenido">
  <ion-list>
    <ion-item>
      <ion-label> tu usuario es: {{userData.usuario}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> tu contraseña es: {{userData.password}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
